<div class="search">
  <input #searchInput type="text" placeholder="Search for Movies, Theaters, Cities..." [matAutocomplete]="auto">

  <mat-icon>search</mat-icon>

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option
      *ngFor="let movie of searchResult?.movies"
      (click)="onMovieSelected(movie.id)"
    >
      <mat-icon>movie</mat-icon>
      <span>{{ movie.title }}</span> |
      <small>({{ movie.yearOfIssue }})</small>
    </mat-option>

    <mat-option
      *ngFor="let cinema of searchResult?.cinemas"
      (click)="onCinemaSelected(cinema.id)"
    >
      <mat-icon>theaters</mat-icon>
      <span>{{ cinema.name }}</span> |
      <small>{{ cinema.cityName}} </small>
    </mat-option>

    <mat-option
      *ngFor="let city of searchResult?.cities"
      (click)="onCitySelected(city.id)"
    >
      <mat-icon>location_city</mat-icon>
      <span>{{ city.name }}</span>
    </mat-option>
  </mat-autocomplete>
</div>
