@import "src/colors";

.basic-seat {
  border-radius: 50%;
  border: 1px solid $red;
  background: #fff;
  width: 20px;
  height: 20px;
  cursor: default;
  user-select: none;

  &:hover {
    box-shadow: 0 0 8px black;
  }

  &.selected {
    box-shadow: 0 0 8px blue;
  }
}

.isDisabled {
  border: solid 1px $background-white;
  background: $background-white;
  opacity: 0.25;

  &:hover {
    border: solid 1px #424242;
    background: $background-white;
    opacity: 0.25;
  }
}

.mat-menu-form {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
