@import "src/colors";

.cinema-screen {
  position: absolute;
  width: 200px;
  height: 5px;
  padding: 5px;
  background: $azure !important;
}

.screen-label {
  color: $azure;
  padding-top: 10px;
}
