mat-toolbar-row {
  background: linear-gradient(to right, #78ffd6, #a8ff78);
  color: white;
  position: relative;
}

.mat-search-field {
  margin-left: 10px;
}

.mat-button {
  color: white;
}

.spacer {
  flex: 1 1 auto;
}
