<mat-toolbar class="header">
  <mat-toolbar-row class="navbar">

    <div class="logo">
      <a href="">
        <h3>
          CIN<span>EMA</span>
        </h3>
      </a>
    </div>

    <ul class="pages">
      <li>
        <a href="">Movies</a>
      </li>
      <li>
        <a href="">Theaters</a>
      </li>
    </ul>

    <app-navbar-search-input></app-navbar-search-input>

    <button mat-icon-button *ngIf="!isLoggedIn()" (click)="openLoginDialog()">
      <span>Sign in</span>
      <mat-icon class="account-icon">input</mat-icon>
    </button>

    <button mat-icon-button *ngIf="isLoggedIn()" [matMenuTriggerFor]="menu">
      <mat-icon class="account-icon">account_circle</mat-icon>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="listPurchases()">
          <mat-icon>shopping_cart</mat-icon>
          <span>Purchases</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </button>

  </mat-toolbar-row>
</mat-toolbar>
