<form [formGroup]="hallForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Create hall</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Name" formControlName="name">
            <mat-error *ngIf="hallForm.get('name')?.hasError('required')">
              Hall name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Count of seats" formControlName="seatsCount">
            <mat-error *ngIf="hallForm.get('seatsCount')?.hasError('required')">
              Seats count need to be <strong>one or more</strong>
            </mat-error>
            <mat-error *ngIf="hallForm.get('seatsCount')?.getError('pattern')">
              Only nonnegative numbers is allowed
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit">Create</button>
    </mat-card-actions>
  </mat-card>
</form>
