@import "src/colors";

:host {
  .full-width {
    width: 100%;
  }

  .card {
    min-width: 120px;
    color: $oxford-blue-50;
  }

  .mat-radio-button {
    display: block;
    margin: 5px 0;
  }

  .row {
    display: flex;
    flex-direction: row;
  }

  .row-overflow {
    overflow-y: scroll;
    height: 150px;
  }

  .col {
    flex: 1;
    margin-right: 20px;

    :last-child {
      margin-right: 0;
    }
  }

  ::ng-deep {
    .mat-form-field.mat-focused .mat-form-field-label {
      color: $azure;
    }

    .mat-focused .mat-form-field-underline .mat-form-field-ripple {
      background-color: $azure;
    }
  }

  .mat-stroked-button:enabled {
    background: $light-azure;
    color: $rich-white-fogra-29;

    &:hover {
      background: $oxford-blue-50;
    }
  }
}
