<form [formGroup]="cinemaForm" (ngSubmit)="onSubmit()">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Create cinema</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <div class="row">
        <div class="col">

          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Name"
              [formControlName]="nameControl"
              [maxlength]="cinemaNameMaxLength"
            >

            <mat-error *ngIf="cinemaForm.get(nameControl)?.getError('required')">
              Cinema name is <strong>required</strong>
            </mat-error>
          </mat-form-field>

        </div>
      </div>

      <div class="row">
        <div class="col">

          <mat-form-field class="full-width">
            <mat-select placeholder="City" [formControlName]="cityControl">
              <mat-option>
                <ngx-mat-select-search
                  placeholderLabel="Type city name here..."
                  noEntriesFoundLabel="No cities found"
                  (keyup)="onSearchCities($event)"
                >
                </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let city of cities" [value]="city.id">
                {{ city.name }}
              </mat-option>
              <div>
                <button mat-button type="button" (click)="openCreateCityDialog()">
                  <mat-icon>add</mat-icon>
                  Create new city
                </button>
              </div>
            </mat-select>

            <mat-error *ngIf="cinemaForm.get(cityControl)?.getError('required')">
              City is required
            </mat-error>
          </mat-form-field>

        </div>
      </div>

      <div class="row">
        <div class="col">

          <mat-form-field class="full-width">
            <textarea
              matInput
              placeholder="Address"
              [formControlName]="addressControl"
              [maxlength]="cinemaAddressMaxLength"
            >
            </textarea>

            <mat-error *ngIf="cinemaForm.get(addressControl)?.getError('required')">
              Address is <strong>required</strong>
            </mat-error>
          </mat-form-field>

        </div>
      </div>

      <div class="row">
        <div class="col">

          <h4>Current hall count: {{ halls.length }}</h4>

        </div>
      </div>

      <div class="row">

        <button mat-button type="button" (click)="openCreateHallDialog()">
          <mat-icon>add</mat-icon>
          Add new hall
        </button>

      </div>

      <div class="row row-overflow">

        <mat-nav-list>
          <mat-list-item *ngFor="let hall of halls; let i = index" role="listitem">
            <span matLine>
              Name: {{ hall.name }} Seats: {{ hall.seats.length }}
            </span>
            <button mat-icon-button type="button" (click)="editHall(i)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button type="button" (click)="deleteHall(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>
        </mat-nav-list>

        <mat-error *ngIf="halls.length === 0">
          Please create at least one hall
        </mat-error>

      </div>

      <div class="row">
        <div class="col">

          <mat-label>Favors:</mat-label>
          <button mat-button type="button" (click)="addFavorPriceForm()">
            <mat-icon>add</mat-icon>
            Add
          </button>

        </div>
      </div>

      <ng-container *ngFor="let favorForm of favorForms; let i = index">

        <div [formGroup]="favorForm" class="row">
          <div class="col">

            <app-search-select
              class="full-width"
              selectPlaceholder="Select favor"
              searchInputPlaceholder="Type favor name here..."
              bindValue="id"
              bindLabel="name"
              [formControlName]="favorControl"
              [searchFunction]="searchFavors"
            >
            </app-search-select>

            <mat-error *ngIf="favorForm.get(favorControl)?.getError('required')">
              You need to chose the favor
            </mat-error>
          </div>

          <div class="col">

            <mat-form-field class="full-width">
              <input matInput placeholder="Enter price for this favor" [formControlName]="favorPriceControl">

              <mat-error *ngIf="favorForm.get(favorPriceControl)?.getError('required')">
                Favor price is <strong>required</strong>
              </mat-error>

              <mat-error *ngIf="favorForm.get(favorPriceControl)?.getError('pattern')">
                Only nonnegative numbers is allowed
              </mat-error>
            </mat-form-field>

          </div>

          <div class="col">

            <button mat-icon-button type="button" (click)="deleteFavorPriceForm(i)">
              <mat-icon>delete</mat-icon>
            </button>

          </div>
        </div>

      </ng-container>

    </mat-card-content>

    <mat-error *ngIf="cinemaForm.invalid">
      Please fill all fields with data.
    </mat-error>

    <mat-card-actions>
      <button mat-stroked-button type="submit" [disabled]="cinemaForm.invalid">
        Create
      </button>

      <button mat-raised-button type="button" (click)="closeDialog()">
        Cancel
      </button>
    </mat-card-actions>
  </mat-card>
</form>
