:host {
  .card {
    min-width: 120px;
  }

  .mat-radio-button {
    display: block;
    margin: 5px 0;
  }

  .row {
    display: flex;
    flex-direction: row;
  }

  .row-overflow {
    overflow-y: scroll;
    height: 150px;
  }

  .col {
    flex: 1;
    margin-right: 20px;

    :last-child {
      margin-right: 0;
    }
  }

  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #78ffd6;
  }

  ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
    background-color: #78ffd6;
  }

  .mat-stroked-button:enabled {
    background: linear-gradient(to right, #78ffd6, #a8ff78);
    color: rgb(27, 27, 27);
  }

  .mat-button:hover,
  .mat-icon-button:hover {
    color: #78ffd6;
  }
}
