<div [@vanish]="page">
    <h1 class="mat-title">{{ currentPage.title }}</h1>
    <p class="mat-small">{{ currentPage.message }}</p>
</div>

<form [formGroup]="form" fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="10px" (ngSubmit)="activate(page)">

    <!-- ERROR MESSAGE -->
    <mat-error *ngIf="error" @inflate>{{ error }}</mat-error>

    <!-- EMAIL -->
    <mat-form-field appearance="legacy" @inflate>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-icon matSuffix></mat-icon>
        <mat-error *ngIf="form.controls['email'].errors?.['required'] && (form.controls['email'].dirty || form.controls['email'].touched)">
            Please specify an email address
        </mat-error>
        <mat-error *ngIf="form.controls['email'].errors?.['email']">
            Ooops! it looks like this is not a valid email
        </mat-error>
    </mat-form-field>

    <!-- PASSWORD -->
    <mat-form-field appearance="legacy" @inflate>
        <mat-label>Password</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
        <mat-icon matSuffix (click)="hidePassword = !hidePassword">
            {{ hidePassword ? 'visibility_off' : 'visibility'}}
        </mat-icon>

        <mat-error *ngIf="form.controls['password'].errors?.['required']">
            A password is required.
        </mat-error>
        <mat-error *ngIf="form.controls['password'].errors?.['minlength']">
            Password must be at least 8 characters long.
        </mat-error>

    </mat-form-field>

    <!-- CONFIRM PASSWORD -->
    <mat-form-field appearance="legacy" *ngIf="page === 'register'" @inflate>
        <mat-label>Confirm password</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="confirmPassword">
        <mat-icon matSuffix (click)="hidePassword = !hidePassword">
            {{ hidePassword ? 'visibility_off' : 'visibility'}}
        </mat-icon>

        <mat-error *ngIf="form.controls['confirmPassword'].errors?.['required']">
            Confirmation password is required.
        </mat-error>

    </mat-form-field>

    <!-- ACTION BUTTON -->
    <button mat-stroked-button color="primary" type="submit" [disabled]="!form.valid || ((form.controls['password'].value !== form.controls['confirmPassword'].value) && page === 'register')" class="btn">
      {{ currentPage.caption }}
    </button>
    <mat-error *ngIf="((form.controls['password'].value !== form.controls['confirmPassword'].value) && page === 'register')">
        Passwords are not equal.
    </mat-error>

    <mat-progress-bar *ngIf="progress" mode="indeterminate" @inflate></mat-progress-bar>

</form>

<a class="mat-small" *ngIf="page == 'login'">
    Are you a new user? <span class="mat-link" (click)="switchPage('register')">Register</span>
</a>

<a class="mat-small" *ngIf="page === 'register'">
    Already have login and password? <span class="mat-link" (click)="switchPage('login')">Login</span>
</a>