<app-admin-edit-page title="Favors">
  <button mat-stroked-button createButton class="btn" (click)="openCreateFavorDialog()">
    Create new favor
  </button>

  <app-editable-table
    [tableData]="favors"
    [tableColumns]="favorsTableColumns"
    [isFilterable]="true"
    [isPageable]="true"
    [isEditable]="true"
    (editingAction)="editFavor($event)"
    (deletingAction)="deleteFavor($event)"
    (getDataFromServerFunction)="getAllFavors($event)"
  >
  </app-editable-table>
</app-admin-edit-page>
