.sofa-group {
  position: absolute;
  width: fit-content;
  height: fit-content;
}

.sofa-handle {
  position: absolute;
  width: 10px;
  border: solid 1px #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.left {
  height: 40px;
  left: 0;
}

.right {
  height: 40px;
  right: 0;
}

.back {
  height: 10px;
  width: auto;
  top: 0;
  left: 10px;
  right: 10px;
}

.example-handle {
  position: absolute;
  padding: 0;
  margin: 0;
  color: #ccc;
  cursor: move;
  top: 0;
  right: 0;
}
