<div
  class="basic-seat-group draggable-block"
  cdkDrag
  cdkDragBoundary=".canvas"
  [matMenuTriggerFor]="basicTableMenu"
  [cdkDragFreeDragPosition]="positionOnCanvas"
  (cdkDragEnded)="rememberPositionWhenDragEnded($event)"
>

  <div class="example-handle" cdkDragHandle appClickStopPropagation>

    <svg width="18px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
      </path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>

  </div>

  <table>
    <tr *ngFor="let row of [].constructor(rows); let i = index">
      <td *ngFor="let column of [].constructor(columns); let j = index">
        <app-seat
          appClickStopPropagation
          [seatId]="(i * rows) + j"
          [seatGroupId]="currentComponentId"
          (addSeatToParent)="addSeatToParent($event)"
        >
        </app-seat>
      </td>
    </tr>
  </table>

  <mat-menu #basicTableMenu class="dynamic-menu">
    <button
      mat-icon-button
      (click)="deleteComponent()"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-menu>
</div>
