<form [formGroup]="sessionForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Create movie session</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select formControlName="{{ movieControl }}" placeholder="Select movie">
              <mat-option>
                <input
                  #movieSearch
                  matInput
                  (click)="$event.stopPropagation()"
                  placeholder="Type movie title here"
                >
              </mat-option>
              <mat-divider></mat-divider>
              <mat-option *ngFor="let movie of movies" [value]="movie.id">
                {{ movie.title }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="sessionForm.get(movieControl)?.getError('required')">
              You need to chose the movie
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select
              formControlName="{{ cinemaControl }}"
              (selectionChange)="fillHalls()"
              placeholder="Select cinema"
            >
              <mat-option>
                <input
                  #cinemaSearch
                  matInput
                  (click)="$event.stopPropagation()"
                  placeholder="Type cinema name here"
                >
              </mat-option>
              <mat-divider></mat-divider>
              <mat-option *ngFor="let cinema of cinemas" [value]="cinema">
                {{ cinema.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="sessionForm.get(cinemaControl)?.getError('required')">
              You need to chose the cinema
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select
              formControlName="{{ hallControl }}"
              (selectionChange)="fillSeatTypes()"
              placeholder="Select hall"
            >
              <mat-option>
                <input
                  matInput
                  (click)="$event.stopPropagation()"
                  placeholder="Type hall name here"
                >
              </mat-option>
              <mat-divider></mat-divider>
              <mat-option *ngFor="let hall of halls" [value]="hall">
                {{ hall.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="sessionForm.get(hallControl)?.getError('required')">
              You need to chose the hall
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              [ngxTimepicker]="timePicker"
              formControlName="{{ showTimeControl }}"
              placeholder="Enter time for session"
            >
            <ngx-material-timepicker #timePicker></ngx-material-timepicker>
            <mat-error *ngIf="sessionForm.get(showTimeControl)?.getError('required')">
              Time is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <h4>Available seat types:</h4>
      <div *ngFor="let seatType of seatTypes" class="row">
        <div class="col">
          <h4>{{ seatType.name }}</h4>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              formControlName="{{ ticketPriceControl }}"
              placeholder="Ticket price for this type of seat"
            >
            <mat-error *ngIf="sessionForm.get(ticketPriceControl)?.getError('required')">
              Ticket price is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-error *ngIf="sessionForm.invalid">
      Please fill all fields with data.
    </mat-error>
    <mat-card-actions>
      <button mat-raised-button type="submit" [disabled]="sessionForm.invalid">
        Create
      </button>
      <button mat-raised-button type="button" (click)="closeDialog()">
        Cancel
      </button>
    </mat-card-actions>
  </mat-card>
</form>
